*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: "Martel", serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Martel", serif;
  text-transform: capitalize;
}

/* navbar  */
.navbar {
  background-color: black;
  color: #f2f2f2;
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 0.8rem;
  padding: 2% 5%;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 3.5rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
  overflow: hidden;
}
.navbar-brand {
  font-family: "Kolker Brush", cursive;
  color: white;
  font-size: 2.5rem;
  margin-right: 1.5rem;
}
.navbar-brand img {
  width: 2rem;
  height: auto;
}

.nav-links {
  list-style-type: none;
  display: flex;
  margin-bottom: 0;
}
.nav-links li:not(:last-child) {
  margin-right: 1rem;
}
.nav-link {
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s;
}
.nav-link:hover {
  color: #dc143c;
}

.nav-acc {
  margin-left: auto;
  display: flex;
}

/* carousel */

.carousel-item {
  margin-top: 3.5rem;
  background-color: #f5f5f5;
  background-size: cover;
  background-position: center;
  height: 80vh;
  width: 100%;
  position: relative;
}
.carousel-item--1 {
  background-image: url("img/1.jpg");
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)),
    url("img/1.jpg");
  background-size: cover;
  background-position: center;
}
.carousel-item--2 {
  background-image: url("img/2.jpg");
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)),
    url("img/2.jpg");
  background-size: cover;
  background-position: center;
}
.carousel-item--3 {
  background-image: url("img/8.jpg");
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)),
    url("img/10.jpg");
  background-size: cover;
  background-position: center;
}
.carousel-item-info {
  color: white;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.carousel-item-info h2 {
  font-size: 4rem;
  font-weight: bold;
  color: #ffd6bc;
}
.carousel-item-info p {
  font-size: 1.8rem;
}
/* slick */
.slick-next {
  right: 25px !important;
}
.slick-prev {
  left: 25px !important;
  z-index: 1;
}
.slick-dots {
  bottom: 25px !important;
}

.update .cell,
.contact-us .cell,
.banner .cell,
.footer .cell {
  display: block;
  margin: 2rem auto;
  text-align: center;
}

.scroll-flowers {
  background-color: black;
  color: white;
  padding: 2rem 0 2rem 11rem;
}
.scrolling-wrapper {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  width: auto;
}

.scrolling-wrapper::-webkit-scrollbar {
  display: none;
}
.card-flower {
  display: inline-block;
  margin-right: 0.7rem;
}
.card-flower img {
  height: 20rem;
  width: auto;
  margin-bottom: 0.5rem;
}

.flower-name {
  color: #ffd6bc;
  text-transform: capitalize;
}
.flower-name:hover {
  color: #c78860;
}
.flower-price {
  font-size: 0.7rem;
  font-style: italic;
}

.img-and-text img {
  width: 100%;
}

.img-and-text .text {
  padding: 7rem 5rem;
}
.img-and-text p {
  margin-bottom: 3rem;
}

.btn-black {
  border: 1px solid black;
  background-color: black;
  color: white;
  padding: 1rem 1.5rem;
  border-radius: 50rem;
}
.btn-white-outline {
  border: 1px solid white;
  background-color: transparent;
  color: white;
  padding: 1rem 2rem;
  border-radius: 50rem;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.banner {
  background-color: #ffd6bc;
}
.review {
  background-color: #cad9cb;
  padding: 2rem 5rem;
  margin-top: 1rem;
  text-align: center;
}
/* 4imgs */
.four-imgs {
  padding: 4rem 2rem;
}

.footer {
  background-color: black;
  color: white;
  height: 10rem;
}
